---
import { Image } from 'astro:assets';
import { render, getCollection } from 'astro:content';
import Main from "../../layouts/Main.astro";

export async function getStaticPaths() {
    const projects = await getCollection('projects');

    return projects.map(project => ({
        params: { id: project.id },
        props: { project },
    }));
}

const { project: p } = Astro.props;
const { Content } = await render(p);
---

<Main title={p.data.logoalt + " | Proyectos"}>
    <h1>
        <Image src={p.data.logosrc} alt={p.data.logoalt} />
    </h1>

    <section>
        <p>
            <a href="/#proy">
                Ver otros proyectos
            </a>
        </p>
        <Content />
        {p.data.href && (
            <p>
                <a href={p.data.href}>
                    {p.data.hreflabel ?? "Abrir"}
                </a>
            </p>
        )}
    </section>
</Main>

<style>
h1 {
/*     border-radius: 1rem 1rem 0 0; */
/*     background-color: white; */
/*     border-bottom: 1px dashed var(--blue3); */
/*     padding: 1rem 1rem 1rem 2.5rem; */
    display: flex;
    gap: 1ch;
    align-items:center;

    img {
        display: inline-block;
        width: auto;
        object-fit: contain;
        height: 1em;
        max-width: 15rem;
        margin-bottom: .25em;
    }
}
</style>
