---
import Me from "$lib/sections/Me.astro";
import Tech from "$lib/sections/Tech.astro";
import Projects from "$lib/sections/Projects.astro";
import Experience from "$lib/sections/Experience.astro";
import Main from "$lib/layouts/Main.astro";
---

<Main title="Hatsune Miku">
    <h2 id="me">About me</h2>
    <Me />
    <h2 id="proy">Projects</h2>
    <Projects />
    <h2 id="exp">Experience</h2>
    <Experience />
    <h2 id="tech">Tecnologies</h2>
    <Tech />
    <h2 id="cont">Contact</h2>
    <form id="contact-form" action="#" method="post" enctype="text/plain">
        <label>
            <span>Asunto</span>
            <input class="card" name="subject" type="text">
        </label>
        <label>
            <span>Mensaje</span>
            <textarea class="card" name="body"></textarea>
        </label>
        <button class="card-blue">Enviar</button>
    </form>
</Main>

<script>
    function sendEmail(ev: SubmitEvent) {
        if (ev.target instanceof HTMLFormElement) {
            ev.preventDefault()
            
            const data = new FormData(ev.target)
            const params = new URLSearchParams({
                subject: data.get("subject")?.toString() ?? "",
                body: data.get("body")?.toString() ?? "",
            })

            const stringParams = params.toString().replaceAll("+", "%20")

            location.href = `mailto:0n3odpn5x@mozmail.com?${stringParams}`
        }
    }

    document.getElementById("contact-form")?.addEventListener("submit", sendEmail)
</script>

<style>
#about-me {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 4em 2rem;
    blockquote {
        max-width: 16em;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & label {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    & span, button {
        font-size: 1.25rem;
        font-weight: bold;
    }

    & button {
        padding: .5rem 1rem;
        align-self: start;
    }

    & input, textarea {
        padding: .5rem 1rem;
        background-color: var(--bg);
    }
}
</style>
