---
import Heading from "../components/Heading.astro";
import Quote from "../components/Quote.astro";
import Thing from "../components/Thing.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Página oficial y promocional de Santiago Cézar"
        />
        <title>Santiago Cézar</title>
        <link rel="stylesheet" href="index.css?v=090721" />
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700;800&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <Heading />

        <div id="about-me">
            <Quote>
                Me llamo Santiago Cézar, soy estudiante de programación en la
                Escuela ProA. Hago diseños, páginas web y programas
            </Quote>
        </div>

        <!--
        <a href="#proyectos" aria-label="Ir al contenido">
            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" class="arrow">
                <path stroke="#000" stroke-width="4" fill="none" d="M 16 16 L 32 32 L 48 16"></path>
            </svg>
        </a>
    -->

        <main>
            <p id="warn83" hidden>
                ⚠ Parece que estas usando Chrome 83 o inferior. Esta página se
                ve mejor en Chrome 84 o superior o Firefox
            </p>

            <Thing
                name="Petit Dance"
                src="/img/petit-dance.png"
                alt="Captura de pantalla de la página de Petit Dance"
                action-href="https://petitdance.sfco.ar"
                action="Visitar"
            >
                Página de presentación para la academia de danza Petit Dance,
                escrita con Astro.
            </Thing>
            <Thing
                name="PEON"
                logo-src="/img/peon.svg"
                src="/img/peon_screenshot.webp"
                alt="Captura de pantalla de PEON"
                action-href="https://elbarquito.ar"
                action="Ejemplo"
            >
                Un sistema sencillo para la creación de tiendas online.
            </Thing>
            <Thing
                name="Score"
                logo-src="/img/score.svg"
                src="/img/score_screenshot.webp"
                alt="Captura de pantalla de Score"
                action-href="https://score.scez.ar"
                action="Probar"
            >
                Una aplicación web para el conteo de puntos en juegos de mesa.
            </Thing>
            <Thing
                name="Videojuegos"
                src="/img/dodge.webp"
                alt="Captura de pantalla de dodgestar"
                action-href="https://aqua24j4.itch.io/dodgestar"
                action="+ info"
            >
                Desarrollo de juegos para PC y móvil
            </Thing>
            <Thing
                name="Diseño Gráfico"
                src="/img/icecold.webp"
                alt="El fondo de pantalla 'Ice Cold'"
                action-href="https://www.omgubuntu.co.uk/2019/06/kde-plasma-5-16-wallpaper"
                action="+ info"
            >
                Diseño 2D de logos o fondos minimalistas
            </Thing>
            <Thing
                name="Hobby de modelado 3D"
                src="/img/3d_model.webp"
                alt="Modelo 3D de ejemplo"
            >
                Diseño de modelos 3D para videojuegos e impresiones.
            </Thing>
            <Thing
                name="...y etc."
                src="/img/gh_screenshot.webp"
                alt="Captura de pantalla de GitHub"
                action-href="https://github.com/santiagocezar"
                action="Ir a GitHub"
            >
                En mi GitHub podes encontrar otros proyectos open-source que
                hice o en los que colaboré.
            </Thing>
        </main>
    </body>
</html>

<style lang="less" is:global>
    * {
        padding: 0;
        margin: 0;
        font-family: "Manrope", sans-serif;
    }

    html {
        font-size: 16px;
        scrollbar-color: #aaa #fff;
        scroll-behavior: smooth;
    }

    body {
        //background: linear-gradient(lighten($color: #18d1ff, $amount: 30), lighten($color: #ff4294, $amount: 30));

        background-color: #040624;
        color: white;
    }

    .logo {
        display: grid;
        background: white;
        color: #040624;
        align-items: center;
        align-self: start;
        padding: 0.5em;
        grid-template-columns: 2em auto;
        grid-template-rows: 2em auto;
        gap: 0.2em;
        img {
            height: 100%;
        }
        div {
            display: block;
            text-align: left;
            font-weight: bold;
            line-height: 0.9;
        }
        h2 {
            grid-column: span 2;
            font-size: 0.6em;
        }
        @media screen and (max-width: 768px) {
            grid-column: span 2;
        }
    }

    #about-me {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 4em 2rem;
        blockquote {
            max-width: 16em;
        }
    }
    .arrow {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        left: calc(50% - 32px);
        bottom: -6px;
        width: 64px;
        height: 64px;
    }

    main {
        padding: 0 1em 2em 1em;
        box-sizing: border-box;
        border-top: 8px solid transparent;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        > h1 {
            margin-bottom: 1em;
        }
    }

    .projects {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 948px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            justify-content: space-between;
            background-color: white;
            color: #040624;
            padding: 1em;
            gap: 1em;

            text-align: center;
            z-index: 10;
            transition: scale 0.7s ease;

            transition: box-shadow 0.2s ease;
            &:hover {
                box-shadow: -0.8em 0.4em var(--c), 0.8em -0.4em var(--f);
            }
        }

        .aspect1-1 {
            width: 100%;
        }
        img {
            object-fit: cover;
        }
    }

    .aspect1-1 {
        position: relative;
        flex-shrink: 0;
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        stroke-width: 0;
        stroke: none;
        fill: white;
    }
</style>
