---
import Me from "$lib/components/Me.astro";
import Tech from "$lib/components/Tech.astro";
import Projects from "$lib/components/Projects.astro";
import Experience from "$lib/components/Experience.astro";
import Main from "$lib/layouts/Main.astro";
---

<Main>
    <h2 id="me">Sobre mí</h2>
    <Me />
    <h2 id="proy">Proyectos</h2>
    <Projects />
    <h2 id="proy">Experiencia</h2>
    <Experience />
    <h2 id="tech">Tecnologías</h2>
    <Tech />
</Main>

<style>
#about-me {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 4em 2rem;
    blockquote {
        max-width: 16em;
    }
}
</style>
