---
import Svelte from "~icons/simple-icons/svelte";
import React from "~icons/simple-icons/react";
import AstroIcon from "~icons/simple-icons/astro";
import Typescript from "~icons/simple-icons/typescript";
import NixOS from "~icons/simple-icons/nixos";
import Cpp from "~icons/simple-icons/cplusplus";
import Rust from "~icons/simple-icons/rust";
import Sql from "~icons/simple-icons/mysql";
import Docker from "~icons/simple-icons/docker";
import Linux from "~icons/simple-icons/linux";
import Godot from "~icons/simple-icons/godotengine";
import Python from "~icons/simple-icons/python";
import Aws from "~icons/simple-icons/amazonaws";
import Sfml from "~icons/simple-icons/sfml";
---

    <div class="grid">
        <div class="tech3"><Svelte /> <span>Svelte</span></div>
        <div class="tech2"><AstroIcon /> <span>Astro</span></div>
        <div class="tech3"><NixOS /> <span>NixOS</span></div>
        <div class="tech1"><Cpp /> <span>C++</span></div>
        <div class="tech0"></div>
        <div class="tech2"><Rust /> <span>Rust</span></div>
        <div class="tech1"><React /> <span>React</span></div>
        <div class="tech1"><Typescript /> <span>TypeScript</span></div>
        <div class="tech1"><Docker /> <span>Docker</span></div>
        <div class="tech1"><Sql /> <span>MySQL</span></div>
        <div class="tech3"><Linux /> <span>Linux</span></div>
        <div class="tech2"><Python /> <span>Python</span></div>
        <div class="tech3"><Godot /> <span>Godot</span></div>
        <div class="tech2"><Aws /> <span>AWS</span></div>
        <div class="tech0"></div>
        <div class="tech1"><Sfml /> <span>SFML</span></div>
    </div>

<style lang="less">
    .wrapper {
        display: grid;
        place-content: center;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, auto);
        max-width: 50rem;
        width: 100%;
        margin: 0 auto;
        gap: 0.5em;
        font-size: 0.75rem;
    }
    .tech0,
    .tech1,
    .tech2,
    .tech3 {
        aspect-ratio: 1 / 1;
        align-self: stretch;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--blue4);
        font-weight: bold;
        span {
            font-size: max(0.25em, .75rem);
        }
    }
    .tech0 {
        background-color: var(--blue1);
        opacity: 0.5;
    }
    .tech1 {
        font-size: 2em;
        background-color: var(--pink2);
    }
    .tech2 {
        font-size: 4em;
        grid-row: span 2;
        grid-column: span 2;
        background-color: var(--blue3);
        color: var(--blue1);
    }
    .tech3 {
        font-size: 6em;
        grid-row: span 3;
        grid-column: span 3;
        background-color: var(--pink3);
        color: var(--pink1);
    }
    @media screen and (max-width: 40rem) {
        .grid {
            font-size: 0.85em;
            grid-auto-flow: column;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(10, auto);
        }
        .tech0,
        .tech1,
        .tech2,
        .tech3 {
            span {
                font-size: max(0.25em, 0.75rem);
            }
        }
    }
</style>
