---
import type * as CSS from "csstype";

export interface Props {
    color: "pink" | "cyan";
    display?: CSS.Properties["display"];
    padding?: CSS.Properties["padding"];
}

const { color, ...css } = Astro.props;
---

<div class:list={["card", color]}>
    <slot />
</div>

<style define:vars={css}>
    div {
        border-radius: 1rem;
        background-color: var(--color-bg);
        font-size: 1.5em;
        display: var(--display, block);
        padding: var(--padding, 0);
    }
</style>
