---
import CoolButton from "./CoolButton.astro";

import GitHub from "~icons/simple-icons/github";
import Instagram from "~icons/simple-icons/instagram";
import Gmail from "~icons/simple-icons/gmail";
import Mastodon from "~icons/simple-icons/mastodon";
---

<header id="heading">
    <div class="logo">
        <img src="/img/me.jpg" />
        <div class="name-tag">
            <h1 class="name">Santiago <br />Cézar</h1>
            <h2 class="tag">diseño y desarrollo de software</h2>
        </div>
        <h2 class="mobile-tag">diseño y desarrollo de software</h2>
    </div>
    <div class="links">
        <a
            href="https://github.com/santiagocezar"
            aria-label="Perfil de GitHub"
        >
            <GitHub color="#171515" />
        </a>
        <a
            href="https://www.instagram.com/svcezar/"
            aria-label="Página de Instagram"
        >
            <Instagram color="#e4405f" />
        </a>
        <a
            rel="me"
            href="https://fosstodon.org/@valsan"
            a-label="Perfil de Mastodon"
        >
            <Mastodon color="#563acc" />
        </a>

        <a
            href="mailto:santiagocezar2013@gmail.com"
            aria-label="Correo electrónico"
        >
            <Gmail color="#ea4335" />
        </a>
    </div>
    <!-- <CoolButton href="#about-me">+ info</CoolButton> -->
</header>

<script>
    //@ts-check
    // const height = () => {
    //     const heading = document.getElementById("heading");
    //     if (heading)
    //         heading.style.height = `calc(${window.innerHeight}px - 2rem)`;
    // };

    // height();
    // window.onresize = height;
</script>

<style lang="scss">
    @keyframes bg-slide {
        0% {
            background-position-y: bottom;
            // background-size: 150%;
        }
        100% {
            background-position-y: center;
            background-size: cover;
        }
    }

    @keyframes logo-slide {
        0% {
            transform: translateY(-200%);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes social-slide {
        0% {
            transform: translateY(200%);
        }
        100% {
            transform: translateY(0);
        }
    }

    header {
        overflow: hidden;
        font-size: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        @media screen and (max-width: 50rem) {
            grid-template-rows: min-content 1fr;
            font-size: 30px;
            padding: 0.5em;
        }

        gap: 0.5em;
        padding: 0.5em;

        margin: 1rem 1rem 2rem 1rem;
        width: calc(100% - 2rem);
        height: calc(90vh - 2rem);
        height: calc(100svh - 2rem);

        border-radius: 1rem;
        box-sizing: border-box;

        background: url("/img/icecold-cari.jpg");
        background-size: cover;
        background-position-x: center;
        animation: bg-slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s forwards;

        :global(.cool-button) {
            grid-row-end: -1;
            grid-column-end: -1;
            align-self: end;
            justify-self: end;
        }
    }

    .logo div,
    .mobile-tag,
    .links {
        background: white;
        border-radius: 2rem;
        color: #22193d;
        // box-shadow: 0 0 0.5rem #eaeafd;
    }

    .logo {
        animation: logo-slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
            forwards;

        justify-self: start;
        align-self: start;
        grid-column: span 2;

        display: grid;
        align-items: stretch;
        justify-items: stretch;
        grid-template-columns: 4em max-content;

        gap: 0.25em;

        font-family: "Poppins";
        font-weight: 700;

        img {
            width: 100%;
            border-radius: 2rem;
        }
        br {
            display: none;
        }
    }
    .name-tag {
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        gap: 0.2em;
        padding: 0 1em;
    }
    .name {
        font-size: 1em;
    }
    .mobile-tag,
    .tag {
        font-size: 0.5em;
    }
    .mobile-tag {
        display: none;
        text-align: center;
        padding: 0.5em;
        grid-column: span 2;
    }
    @media screen and (max-width: 50rem) {
        .logo {
            grid-template-columns: 3em max-content;
            align-self: stretch;
            justify-self: stretch;
            br {
                display: unset;
            }
        }
        .name-tag {
            // width: 100%;
        }
        .tag {
            display: none;
        }
        .mobile-tag {
            display: unset;
        }
    }

    .links {
        animation: social-slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
            forwards;
        grid-column-end: -1;
        grid-row-end: -1;
        display: flex;
        box-sizing: border-box;
        align-self: end;
        justify-self: end;
    }

    .links a {
        text-decoration: none;
        display: block;
        padding: 0.25em 0.4em;

        svg {
            width: 0.8em;
            height: 0.8em;
        }
    }
</style>
