---
import { Image } from "astro:assets";
import * as doc from "./me.md";
import meJpg from "src/content/assets/me.jpg"

const content = await doc.compiledContent()

console.log(content)

const birthday = new Date(2004, 5, 24);
const now = new Date();

let age = now.getFullYear() - birthday.getFullYear();
if (now.getMonth() == birthday.getMonth() && now.getDate() < birthday.getDate()) {
    age--
} else if (now.getMonth() < birthday.getMonth()) {
    age--
}


---

<div class="root">
    <section class="card-blue" set:html={content.replace('@age@', "" + age)}>
        <div class="blank"></div>
    </section>
    <Image class="card img" alt="Una foto mía con un arcoiris detrás" src={meJpg}>
</div>

<style>
    .root {
        position: relative;
        
        --image-size: 9rem;
    }
    section {
        grid-area: t;
        padding: 1em;
        line-height: 1.4;
        border-radius: 1em;
        height: fit-content;
        min-height: fit-content;
    }
    .img {
        position: absolute;
        width: var(--image-size);
        top: -0.5rem;
        left: -0.5rem;
    }
    .blank {
        display: block;
        width: var(--image-size);
        height: calc(var(--image-size) - 1rem);
        float: left;
    }
    @media screen and (max-width: 40rem) {
        .root {
            grid-template-rows: 0.5fr 2fr 1fr;
            grid-template-columns: 1fr 6fr 1fr;
        }
    }
</style>
